#datasets
/taiko.db3
/exported_all_db
database.md

#build artifacts
/ekiben-agent/ekiben-agent.exe
/ekiben-agent/traffic.log
/ekiben-agent/ekiben-agent.exe~
ekiben-agent.zip

#configuration
/ekiben-agent/agent-config.json

#IDE
/.vscode/

#Other
asd.txt
INFO2.md
